body{
    background-color: black;

}


.grid-layout {
    display: grid;
    margin: 1 auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: rgb(19, 13, 13);
    padding: 100px;
    
}

.grid-layout img,
.grid-layout video {
    max-width: 100%; /* Asegura que la imagen o video no exceda el tamaño del contenedor */
    height: auto;
}
.imagen1{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 2;
    grid-row: 1;

}

.imagen2{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 1;
    grid-row: 2;



}
.video1{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 1;
    grid-row: 1;
    max-height: 50%;
    align-self:flex-end


}
.video2{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 2;
    grid-row: 2;


}
.video3{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 1;
    grid-row: 1;
    max-height: 53%;
    


}

.grid-layout1{
    display: grid;
    margin: 1 auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: rgb(19, 13, 13);
    padding: 100px;
}

.grid-layout1 img,
.grid-layout1 video {
    max-width: 100%; /* Asegura que la imagen o video no exceda el tamaño del contenedor */
    height: auto;
}

.imagen3{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 2;
    grid-row: 1;

}

.imagen4{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 1;
    grid-row: 2;



}
.video4{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 1;
    grid-row: 1;
    max-height: 50%;
    align-self:flex-end


}
.video5{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 2;
    grid-row: 2;


}
.video6{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 1;
    grid-row: 1;
    max-height: 53%;
    


}
.video7{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 1;
    grid-row: 1;
    max-height: 53%;
    


}
.video8{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 1;
    grid-row: 1;
    max-height: 53%;
    


}
.video9{
    border: 2px solid rgb(214, 32, 32);
    grid-column: 1;
    grid-row: 1;
    max-height: 53%;
    


}

